p {
  text-align: center;
}

h1 {
  text-align: center;
}

em strong {
  color: #ff0000;
}

#missao {
  font-size: 1.25rem;
}

#banner {
  width: 100%;
}

.itens {
  font-style: italic;
}

.beneficios {
  background-color: #ffff;
  padding: 20px;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}
